/* ローディング */
#loading {
    position         : fixed;
    top              : 0;
    left             : 0;
    width            : 100vw;
    height           : 100vh;
    transition       : all 2s;
    background-color : rgb(70, 124, 143);
}
.loaded {
    /* 透明化 */
    opacity    : 0; 
    /* レイアウトには影響を及ぼすが透明になる */
    visibility : hidden;
}
.spinner {
    animation        : loading 1.0s infinite ease-in-out;
    width            : 300px;
    height           : 300px;
    margin           : 200px auto;
    border-radius    : 100%;
    background-color : #fff;
}
/* keyframes → 参考　：　https://developer.mozilla.org/ja/docs/Web/CSS/@keyframes */
@keyframes loading {
    0% {
        transform : scale(0);
    } 100% {
        transform : scale(1.0);
        opacity   : 0;
    }
}

/* モーダル */
#modal {
    display : none;
}

/* タブ切り替え */
#main .is-show {
    display : block;
}
#main .tab {
    flex-grow  : 1;
    border     : solid 1px #CCC;
    text-align : center;
}
#main .panel {
    display : none;
}
#main .is-active a {
    color : rgb(56, 108, 171);
}
#main .panel-group .is-show {
    display : block;
}
#main .panel-group .is-show {
    text-align       : center;
    width            : 100%;
    padding          : 1rem 0;
    border           : solid 1px #CCC;
    background-color : #fff;
    font-weight      : 550;
}

@media screen and (max-width :750px) {
    #main .panel-group .list {
        width  : 56%;
        margin : 1rem auto 0 auto;
    }
}

@media screen and (max-width :500px) {
    #main .panel-group .list {
        width : 78%;
    }
}