/* 設定 */
html {
    scroll-behavior : smooth;
}
* {
    margin  : 0;
    padding : 0;
}
body {
    background : linear-gradient(to right, rgb(70, 157, 255), #fff);
}
ul {
    list-style : none;
}
a {
    text-decoration : none;
}
section {
    margin : 3rem 0;
}
.wrapper {
    max-width : 1200px;
    margin    : 0 auto;
    padding   : 0 2rem;
}
.flex {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
}
.none {
    display : none;
}
.section-title {
    margin-bottom : 1rem;
}
.section-title span {
    display : block;
    color   : #fff;
}
.section-title .en {
    font-size : 2rem;
}
.section-title .ja {
    font-size : 1rem;
}

/* ヘッダー */
#header {
    padding : 1rem 2rem;
}
#header .logo-area a{
    color     : #fff;
    font-size : 3rem;
}
#header .nav-area .list {
    display : flex;
    gap     : 30px;
}
#header .nav-area .list a {
    color       : gray;
    font-weight : 550;
}
#header .nav-area .list a:hover {
    transition : 0.5s;
    color      : rgb(116, 166, 252);
}


/* AboutList */
#about-list .list li {
    text-align       : center;
    cursor           : pointer;
    width            : 33.33%;
    padding          : 1rem;
    border           : 2px solid lightgray;
    background-color : #fff;
    color            : gray;
}
#about-list .panel-group .list .panel {
    text-align       : center;
    width            : calc(100% - 2rem - 4px);
    padding          : 1rem;
    border           : 2px solid lightgray;
    background-color : #fff;
    color            : gray;
}

/* CourseList */
#course-list .list .card {
    text-align       : center;
    padding          : 2rem;
    background-color : #fff;
}
#course-list .list .card .img-area {
    max-width : 300px;
}
#course-list .list .card .img-area img {
    width         : 100%;
    border-radius : 100px;
}
#course-list .list .card .text-area {
    margin : 1rem 0;
}
#course-list .list .card .btn-area a {
    padding          : 1rem 1.5rem;
    background-color : rgb(255, 255, 32);
    border-radius    : 30px;
    color            : rgb(111, 111, 111);
    font-weight      : 550;
}
#course-list .list .card .btn-area a:hover {
    background-color : lightblue;
    transition       : 1s;
}